<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>High Scores</key>
	<array/>
	<key>Levels</key>
	<array>
		<array>
			<array>
				<string>sunBlue.png</string>
				<integer>240</integer>
				<real>160</real>
				<integer>45</integer>
				<string>BGdeepspace.png</string>
			</array>
			<array>
				<string>rockBlue.png</string>
				<integer>240</integer>
				<real>50</real>
				<integer>15</integer>
				<integer>30</integer>
				<integer>200</integer>
			</array>
		</array>
		<array>
			<array>
				<string>sunRed.png</string>
				<real>240</real>
				<real>160</real>
				<integer>48</integer>
				<string>BGasteroidbelt.png</string>
			</array>
			<array>
				<string>rockBrown.png</string>
				<real>240</real>
				<integer>60</integer>
				<integer>14</integer>
				<integer>28</integer>
				<integer>160</integer>
			</array>
			<array>
				<string>rockBlue.png</string>
				<integer>160</integer>
				<integer>280</integer>
				<integer>15</integer>
				<integer>30</integer>
				<real>200</real>
			</array>
		</array>
		<array>
			<array>
				<string>sunRed.png</string>
				<integer>240</integer>
				<string>160</string>
				<integer>48</integer>
				<string>BGnebula.png</string>
			</array>
			<array>
				<string>rockBrown.png</string>
				<integer>240</integer>
				<integer>60</integer>
				<integer>14</integer>
				<integer>28</integer>
				<integer>160</integer>
			</array>
			<array>
				<string>gasRed.png</string>
				<integer>160</integer>
				<integer>285</integer>
				<integer>17</integer>
				<integer>35</integer>
				<integer>240</integer>
			</array>
		</array>
		<array>
			<array>
				<string>sunRed.png</string>
				<integer>270</integer>
				<string>160</string>
				<integer>48</integer>
				<string>BGasteroidbelt.png</string>
			</array>
			<array>
				<string>rockBlue.png</string>
				<integer>270</integer>
				<integer>90</integer>
				<integer>15</integer>
				<integer>30</integer>
				<real>200</real>
			</array>
			<array>
				<string>gasRed.png</string>
				<integer>270</integer>
				<integer>20</integer>
				<integer>17</integer>
				<integer>35</integer>
				<integer>240</integer>
			</array>
			<array>
				<string>gasBlue.png</string>
				<integer>270</integer>
				<integer>300</integer>
				<integer>21</integer>
				<integer>42</integer>
				<integer>280</integer>
			</array>
		</array>
		<array>
			<array>
				<string>sunBlue.png</string>
				<integer>240</integer>
				<string>100</string>
				<integer>45</integer>
				<string>BGdeepspace.png</string>
			</array>
			<array>
				<string>rockBlue.png</string>
				<integer>240</integer>
				<integer>205</integer>
				<integer>15</integer>
				<integer>30</integer>
				<real>200</real>
			</array>
			<array>
				<string>rockBrown.png</string>
				<real>240</real>
				<integer>165</integer>
				<integer>14</integer>
				<integer>28</integer>
				<integer>160</integer>
			</array>
			<array>
				<string>gasRed.png</string>
				<integer>250</integer>
				<integer>250</integer>
				<integer>17</integer>
				<integer>35</integer>
				<integer>240</integer>
			</array>
			<array>
				<string>gasBlue.png</string>
				<integer>250</integer>
				<integer>300</integer>
				<integer>21</integer>
				<integer>42</integer>
				<integer>280</integer>
			</array>
		</array>
	</array>
</dict>
</plist>
